# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://munugfwyqhzyjwbvolaa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11bnVnZnd5cWh6eWp3YnZvbGFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk1MjY0MzEsImV4cCI6MjA1NTEwMjQzMX0.Y8Qf9QX8ZqJqKZqJqKZqJqKZqJqKZqJqKZqJqKZqJqK

# OpenRouter AI
OPENROUTER_API_KEY=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

# Resend (для отзывов)
RESEND_API_KEY=re_dpwg4e2X_81atoDEqHQe6NeTPVLaBBnQ5

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
